@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

.ui-content{
    padding: 3px;
    flex-grow: inherit;
}

.ui-container{
    overflow-x: auto;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    padding: 10px;
    margin: 10px;
}

.ui-h2{
    color: #336666;
    font-size: 1.5rem;
}

.ui-button{
    padding: 18px;
    height: 54px;
    width: 100%;
}

.ui-imput{
    width: 100%;
}

.ui-button-icon{
    margin: 5px;
}